@use "../../../styles/common" as commonVars;

/** @define badge */

.mmm-lky-tic-wrapper {
  .badge {
    font-size: var(--font-size-small);
    border: 1px solid commonVars.$highlighted-border;
    border-radius: 4px;
    padding: commonVars.$size-xs;
    color: commonVars.$highlighted-text;

    &.badge--active {
      background-color: commonVars.$highlighted-text;
      color: black;
    }

    &.badge--clickable {
      cursor: pointer;
    }
  }
}
