@import "../../../styles/common";

/** @define badge */

.mmm-lky-tic-wrapper {
  .badge {
    font-size: 0.8em;
    border: 1px solid $highlighted-border;
    border-radius: 4px;
    padding: $size-xs;
    color: $highlighted-text;
  }
}
