/** @define teleinfo */

.mmm-lky-tic-wrapper {
  .teleinfo {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;

    &__no-data {
      font-style: italic;
    }

    &__power,
    &__intensity,
    &__costs,
    &__supplied,
    &__supplied-detail {
      display: flex;
      flex-direction: row;
    }

    &__intensity,
    &__costs,
    &__supplied-detail,
    &__dates-start {
      margin-bottom: 0.5em;
    }

    &__dates-start,
    &__dates-last {
      font-style: italic;
      font-size: 0.8em;
    }

    &__power-value,
    &__intensity-value,
    &__costs-value,
    &__supplied-value,
    &__dates-last-value {
      color: white;
    }

    &__intensity,
    &__supplied-detail,
    &__dates {
      margin-left: auto;
    }

    &__power-label,
    &__intensity-label,
    &__costs-label,
    &__supplied-label {
      margin-right: 0.5em;
    }

    &__instant-section,
    &__dates-section,
    &__costs-section {
      display: flex;
      flex-direction: column;

      &::after {
        content: "";
        display: block;
        border-bottom: 1px dashed var(--color-text-dimmed);
      }
    }

    &__costs-section,
    &__dates-section {
      padding-top: 0.5em;
    }
  }
}
