/** @define teleinfo */

.mmm-lky-tic-wrapper {
  .teleinfo {
    display: flex;
    flex-direction: column;

    &__no-data {
      font-style: italic;
    }

    &__power,
    &__intensity,
    &__costs {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.5em;
    }

    &__power-value,
    &__intensity-value,
    &__costs-value {
      color: white;
    }

    &__power-label,
    &__intensity-label,
    &__costs-label {
      margin-right: 0.5em;
    }

    &__instant-section,
    &__costs-section {
      display: flex;
      flex-direction: column;

      &::after {
        content: "";
        display: block;
        border-bottom: 1px dashed var(--color-text-dimmed);
      }
    }

    &__costs-section {
      padding-top: 0.5em;
    }
  }
}
