/** @define teleinfo */

.mmm-lky-tic-wrapper {
  .teleinfo {
    display: flex;
    flex-direction: column;

    &__no-data {
      font-style: italic;
    }
  }

  .teleinfo__instant-section {
    display: flex;
    flex-direction: column;

    &__power,
    &__intensity {
      display: flex;
      flex-direction: row;
    }

    &__power-value,
    &__intensity-vaklue {
      color: white;
    }
  }
}
