/* Color variables */

/* Borders */
$dimmed-border: var(--color-text-dimmed);
$highlighted-border: white;

/* Text */
$highlighted-text: white;
$normal-text: var(--color-text);
$warning-text: orange;
$critical-text: red;
